<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/uniroma1_2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReviewStud"
        tools:targetApi="31"
        >
        <activity
            android:name=".Prima"
            android:exported="true"
            android:label="@string/title_activity_prima"
            android:theme="@style/Theme.ReviewStud.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Seconda"
            android:theme="@style/Theme.ReviewStud.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Terza"
            android:theme="@style/Theme.ReviewStud.NoActionBar"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".Quarta"
            android:theme="@style/Theme.ReviewStud.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>